# Mac stuff
.DS_Store

# Jetbrains Stuff
.idea/*
.history/*

# pycache
**/__pycache__/

# Python bytecode
*.pyc

# Python env
.venv/*

# Pyenv
.python-version

# Ignore local env variables
.env

# Hydra's output
outputs/*

# Local wandb output
wandb/*

# Ignore playground files
playground.ipynb

# VS Code launch configuration
.vscode/launch.json